@model FinalDutExpressSystem.Models.Aerospace_StudiesModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Aerospace_StudiesModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Communication_Skills)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Communication_Skills)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aviation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aviation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Leadership_Studies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Leadership_Studies)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Security_Studies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Security_Studies)
        </dd>

    </dl>
</div>
<p>
   
</p>
