@model IEnumerable<FinalDutExpressSystem.Models.Aerospace_StudiesModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.Label("Find By Student Number", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBox("searchString")
            <input type="submit" value="Search" class="btn btn-success" />

        </div>
    </div>
}
<table class=" table-responsive table table-bordered table-hover table-striped">
    <tr class=" success">
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Communication_Skills)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aviation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Leadership_Studies)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Security_Studies)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class=" danger">
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Communication_Skills)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aviation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Leadership_Studies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Security_Studies)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
