@model FinalDutExpressSystem.Models.Information_TechnologyModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Information_TechnologyModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IS)
        </dd>

    </dl>
</div>
<p>
   
</p>
